---
layout: default
---
<h1>{{ page.name }}</h1>
{% assign picture = site.static_files | where_exp: "file", "file.image and file.basename == page.short_name" | first %}
<img src="{{ picture.path }}" alt="Profile picture of {{ page.name }}." />
<h2>{{ page.position }}</h2>

{{ content }}

<h2>Posts</h2>
<ul>
    {% assign filtered_posts = site.posts |  where: 'author', page.short_name %}
    {% for post in filtered_posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>